html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}

a {
  text-decoration: none;
}

.uploadImageLabel {
  cursor: pointer;
}
.uploadImageLabel:hover {
  opacity: 0.8;
}

.centeredBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadedImage {
  width: inherit;
  object-fit: cover;
}

.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee8e8;
  height: 100vh;
}